page-tabs {
  .ion-ios-sy-message-outline {
    background: url('../assets/imgs/tabs/message-outline@3x.png') center center no-repeat;
    background-size: 24px 24px;
  }
  .ion-ios-sy-message {
    background: url('../assets/imgs/tabs/message@3x.png') center center no-repeat;
    background-size: 24px 24px;
  }

  .ion-ios-sy-center-outline {
    background: url('../assets/imgs/tabs/center-outline@3x.png') center center no-repeat;
    background-size: 24px 24px;
  }
  .ion-ios-sy-center {
    background: url('../assets/imgs/tabs/center@3x.png') center center no-repeat;
    background-size: 24px 24px;
  }

  .ion-ios-sy-mine-outline {
    background: url('../assets/imgs/tabs/mine-outline@3x.png') center center no-repeat;
    background-size: 24px 24px;
  }
  .ion-ios-sy-mine {
    background: url('../assets/imgs/tabs/mine@3x.png') center center no-repeat;
    background-size: 24px 24px;
  }
}
