<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary">取消</span>
      </button>
    </ion-buttons>
    <ion-title>{{getAddress()}}</ion-title>
    <ion-buttons end>
      <button ion-button *ngIf="selected.length > 0" (click)="prevStep(selected.length)">
        <span ion-text color="primary">上一步</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #citySlides>
    <ion-slide>
      <ion-list>
        <button ion-item *ngFor="let item of province" (click)="selectProvince(item)">{{item?.Description}}</button>
      </ion-list>
    </ion-slide>
    <ion-slide>
      <ion-list>
        <button ion-item *ngFor="let item of city" (click)="selectCity(item)">{{item?.CityName}}</button>
      </ion-list>
    </ion-slide>
    <ion-slide>
      <ion-list>
        <button ion-item *ngFor="let item of county" (click)="selectCounty(item)">{{item?.CountyName}}</button>
      </ion-list>
    </ion-slide>
  </ion-slides>
</ion-content>
